[Unit]
Description=ACS reader
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
Restart=on-failure
User=acs-reader
ExecStart=/usr/local/bin/acs-reader.py

[Install]
WantedBy=multi-user.target
